<div id="book-box" style="display: none;">
    <div class="book-container" id="book-container">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <form class="book form-horizontal col-md-6">
                    <fieldset>
                        <legend><h2>Books</h2></legend>
                        <div class="form-group">
                            <label for="book-title" class="col-lg-4 control-label">Book title</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="book-title" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="book-title" class="col-lg-4 control-label">Book author</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="book-author" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="book-title" class="col-lg-4 control-label">Book isbn</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="book-isbn" placeholder="Title">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="button" class="btn btn-lg btn-primary" id="book-sbmt-btn">Add Book</button>
                            <span>or</span>
                            <a href="#/">Cancel</a>
                        </div>
                    </div>
                </form>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{{#books}}
<article class="book well">
    <header class="book-header">
        <div class="book-info">
            <p>Title: {{title}}</p>
            <p>Author: {{author}}</p>
            <p>Isbn: {{isbn}}</p>
        </div>
    </header>
</article>
{{/books}}
{{^books}}
<article class="post well">
    <h2>No books found!</h2>
</article>
{{/books}}